:host {
  width: 100%;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 15px;
  app-circle-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
  }
}
