@import '../../../../../styles/styles.scss';

.movie-card {
  height: 100%;
  box-sizing: border-box;
  color: initial;
  border-radius: 6px;
  border: 1px solid #eee;
  background-color: white;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  &__title {
    font-size: 16px;
    font-weight: bold;
  }
  &__poster {
    margin: 10px 0;
    width: 100%;
    border-radius: 6px;
  }
}

.movie-card:hover {
  transform: translateY(-3px);
  box-shadow: $default-shadow;
}
